includeConfig 'conf/base.config'

profiles {
  awsbatch { includeConfig 'conf/awsbatch.config' }
  docker { 
     docker.enabled = true
     docker.runOptions = '-u $(id -u):$(id -g)'
  }
}

// the following parameters can be modified with command line options 
// when running the pipeline
params {
  // catalog_file = 's3://zhanglab-pancancer/assets/CPTAC3.Catalog.dat'
  // genome_ref = 's3://zhanglab-pancancer/reference/GRCh38/GRCh38.d1.vd1.fa'
  // genome_ref_prefix = 'GRCh38.d1.vd1.fa'
  // genome_basedir = 's3://zhanglab-pancancer/reference/GRCh38'
  // genome_ref_index = 's3://zhanglab-pancancer/reference/GRCh38/GRCh38.d1.vd1.fa.*'
  // genome_ref_anno = 's3://zhanglab-pancancer/reference/GRCh38/UCSC_hg38_refseq_05_24_2019_with_gene_symbol_isoform_fixed.gtf'

  catalog_file = 's3://zhanglab-pancancer/assets/CPTAC3.Catalog.dat'
  genome_basedir = 's3://zhanglab-pancancer/reference/GRCh38.p13'
  genome_ref_prefix = 'GRCh38.p13.genome.fa'
  genome_ref = 's3://zhanglab-pancancer/reference/GRCh38.p13/GRCh38.p13.genome.fa'
  genome_ref_index = 's3://zhanglab-pancancer/reference/GRCh38.p13/GRCh38.p13.genome.fa.*'
  genome_ref_anno = 's3://zhanglab-pancancer/reference/GRCh38.p13/gencode.v34.basic.annotation.flat.gtf'

// special PDAC 7 sample run
/* 
  case_id = 's3://zhanglab-zhiaos/pancancer-kb/rna-seq/pancreatic_case_id.txt'
  catalog_file = 's3://zhanglab-pancancer/assets/PDAC_7_normal_samples.dat'
  genome_basedir = 's3://zhanglab-pancancer/reference/ucsc_hg38'
  genome_ref_prefix = 'ucsc_hg38.fa'
  genome_ref = 's3://zhanglab-pancancer/reference/ucsc_hg38/ucsc_hg38.fa'
  genome_ref_index = 's3://zhanglab-pancancer/reference/ucsc_hg38/ucsc_hg38.fa.*'
  genome_ref_anno = 's3://zhanglab-pancancer/reference/ucsc_hg38/ucsc_refseq_hg38_20180629_with_gene_symbol_for_rsem.gtf'
  */
}

// Global default params
params {
  help = false
  tracedir = "results/${params.run_version}/pipeline_info"
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

params {
  container {
    bwa = 'bzhanglab/bwa:0.7.17'
    gdc_client = 'bzhanglab/gdc-client:1.6.0'
    r_tidyverse = 'bzhanglab/r-tidyverse:4.0.2'
    ciri = 'bzhanglab/ciri:2.0.6'
    rna_seq_misc_ydou = 'bzhanglab/rna-seq-misc-ydou:1.0.0'
    rsem = 'bzhanglab/rsem:1.3.3'
    rna_seq_combine_summary = 'bzhanglab/rna-seq-combine-summary:1.0.0'
  }
}

manifest {
  name = 'bzhanglab/rnaseq'
  author = 'Zhiao Shi'
  homePage = 'https://github.com/bzhanglab/rnaseq'
  description = 'Nextflow RNA-seq pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '1.0.0'
}
