aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
  executor = 'awsbatch'
  errorStrategy = 'retry'
  maxRetries = 3
  memory = '4 GB'
  withLabel: r5_4xlarge {
    queue = 'nextflow-awsbatch-queue-spot-r5-4xlarge'
  }
  withLabel: r5_2xlarge {
    queue = 'nextflow-awsbatch-queue-spot-r5-2xlarge'
  }
  withLabel: m4_4xlarge {
    queue = 'nextflow-awsbatch-queue-spot-m4-4xlarge'
  }
}