params {
  run_indexing = false
  start = -1
  end = -1
  // default catalog file
  catalog_file = 's3://zhanglab-pancancer/assets/CPTAC3.Catalog.dat'
  gdc_token = 's3://zhanglab-pancancer/assets/gdc-user-token.txt'

  outdir = "results"
  outdir_run = "results/${params.run_version}"
  outdir_ciri = "${params.outdir_run}/CIRI_results"
  outdir_rsem = "${params.outdir_run}/RSEM_results"
}
